[data-darkreader-inline-color] {
	color: red !important;
}
[data-darkreader-inline-bgcolor] {
	background-color: red !important;
}
main,
header {
    background-color: #000000 !important;
}
.r-l5o3uw {
	background-color: red !important;
}
.r-1cvl2hr {
	color: red !important;
}
.r-1vtznih {
	background-color: red !important;
}
.r-yyyyoo {
	fill: white !important;
}
